@import "tachyons";



.contentContainer, .homeContainer, .portfolioContainer{
    z-index: 10;
}

ul{
    padding: 0;
    margin: 0;
}

.contentContainer{
    opacity: 0.75;
}

.active > li{
    color: black;
    text-decoration: underline;
    transform: scale(1.05)
}
