@import "tachyons";

.App{
    background-position: 50% 50%;
}

.contentContainer, .homeContainer, .portfolioContainer{
    z-index: 10;
}

ul{
    padding: 0;
    margin-top: 0;
}

.contentContainer{
    opacity: 0.75;
}

.active > li{
    color: black;
    text-decoration: underline;
    transform: scale(1.05)
}
